<div class="image">
  <% if entity.image.blank? %>
      <%= center_image_preview(entity.center) %>
  <% else %>
      <%= program_image_preview(entity) %>
  <% end %>
</div>
<div class="data">
  <div><%= admin_program_link(entity) %></div>
  <div class="info">
    <%= entity.center.name %>, <%= entity.price %> ₽
    <% if entity.old_price.to_i > 0 %>
        <span class="old-price"><%= entity.old_price %> ₽</span>
        (&minus;<%= entity.discount(true) %> ₽, <%= entity.discount_percent %>%)
    <% end %>
    <% if entity.program_age_groups.any? %>
        <div>
          <%= t('activerecord.attributes.program.ages') %>: <%= entity.ages %>
        </div>
    <% end %>
  </div>
  <div class="secondary info">
    <%= entity.lead %><br/>
    <%= t(:program_click_count, count: entity.program_clicks_count) %>
  </div>

  <%= render partial: 'admin/programs/toggleable', locals: { entity: entity } %>

  <ul class="actions">
    <li><%= edit_icon edit_program_path(entity.id) %></li>
  </ul>
</div>
