<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('admin.programs.nav_item.text'), admin_programs_path) %>
    <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_programs_path) %></li>
    <li><%= edit_icon(edit_program_path(@entity.id)) %></li>
  </ul>

  <% unless @entity.image.blank? %>
      <figure>
        <%= program_image_medium(@entity) %>
        <figcaption>
          <%= t('activerecord.attributes.program.image') %>
        </figcaption>
      </figure>
  <% end %>

  <dl>
    <dt><%= t('activerecord.attributes.program.center') %></dt>
    <dd>
      <%= admin_center_link(@entity.center) %>
    </dd>

    <dt><%= t('activerecord.attributes.program.url') %></dt>
    <dd>
      <%= link_to(@entity.url, @entity.url, target: '_blank') %>
    </dd>

    <dt><%= t('activerecord.attributes.program.lead') %></dt>
    <dd>
      <%= @entity.lead %>
    </dd>

    <dt><%= t('activerecord.attributes.program.ages') %></dt>
    <% AgeGroup.page_for_administration.each do |age_group| %>
        <dd data-url="<%= age_group_admin_program_path(id: @entity.id, age_group_id: age_group.id) %>" class="program-age-group">
          <% element_id = "age_group_#{age_group.id}" %>
          <%= check_box_tag "program_age_group[#{age_group.id}]", age_group.id, age_group.has_program?(@entity), id: element_id %>
          <%= label_tag element_id, age_group.name %>
        </dd>
    <% end %>

    <dt><%= t('activerecord.attributes.program.price') %></dt>
    <dd>
      <%= @entity.price %>
    </dd>

    <% if @entity.old_price.to_i > 0 %>
        <dt><%= t('activerecord.attributes.program.old_price') %></dt>
        <dd>
          <%= @entity.old_price %>
        </dd>

        <dt><%= t('activerecord.attributes.program.discount') %></dt>
        <dd>
          <%= @entity.discount(true) %>
        </dd>
    <% end %>
  </dl>

  <%= render partial: 'admin/programs/toggleable', locals: { entity: @entity } %>
</article>

<script>
    'use strict';

    $(function() {
        $('.program-age-group').find('input[type=checkbox]').on('click', function() {
            let url = $(this).parent().data('url');
            let method = $(this).is(':checked') ? 'PUT' : 'DELETE';

            $.ajax(url, {
                method: method
            }).fail(handle_ajax_failure);
        });
    });
</script>