<figure>
  <div>
    <%= program_image_small(entity) %>
    <div class="prices">
      <% if entity.discount > 0 %>
          <del title="<%= t('activerecord.attributes.program.old_price') %>">
            <%= number_with_delimiter(entity.old_price, delimiter: ' ') %> р.
          </del>
      <% end %>
      <div>
        <%= number_with_delimiter(entity.price, delimiter: ' ') %> р.
      </div>
    </div>
    <% if entity.discount > 0 %>
        <div class="discount">
          &minus;<%= entity.discount_percent %>%
        </div>
    <% end %>
  </div>
  <figcaption><%= program_link(entity) %></figcaption>
</figure>
<div class="lead">
  <p><%= entity.lead %></p>
  <p><%= program_link(entity, 'Подробнее') %></p>
</div>
<div class="center"><%= link_to(entity.center.name, entity.center.url, target: '_blank') %></div>
<div class="place"><%= entity.center.place %></div>
<div class="ages">Возраст: <%= entity.ages %></div>
<div class="more"><%= program_link(entity, 'Подробнее') %></div>
