<figure>
  <div>
    <%= program_image_small(entity) %>
    <div class="prices">
      <span>
        <%= number_with_delimiter(entity.price, delimiter: ' ') %> р.
      </span>
      <% if entity.discount > 0 %>
          <del title="<%= t('activerecord.attributes.program.old_price') %>">
            <%= number_with_delimiter(entity.old_price, delimiter: ' ') %> р.
          </del>
          <div>
            <%= t('activerecord.attributes.program.discount') %>
            <%= number_with_delimiter(entity.discount, delimiter: ' ') %> р.
          </div>
      <% end %>
    </div>
  </div>
  <figcaption><%= link_to(entity.name, entity.url) %></figcaption>
</figure>
<div class="lead">
  <p><%= entity.lead %></p>
  <p><%= link_to('Подробнее', entity.url) %></p>
</div>
<div class="center"><%= link_to(entity.center.name, entity.center.url) %></div>
<div class="place"><%= entity.center.place %></div>
<div class="ages">Возраст: <%= entity.ages %></div>
<div class="more"><%= link_to('Подробнее', entity.url) %></div>
